@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto+Condensed&family=Zen+Kaku+Gothic+Antique&display=swap');

*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {background-color: #161516;
      font-family: 'Zen Kaku Gothic Antique', sans-serif;
      color: #303030;
}

h1, h2{text-transform: uppercase;
            letter-spacing: 4px;
}

h2 {font-family: 'Quintessential', cursive;
        color: #f44336;
        padding-top: 10px;
}
/* header section */
header {width: 100%;
        height: 100px;
        position: relative;
        /* display: flex;
        justify-content: center; */
        /* background-color: #303030; */
}
h1 {color: #f44336;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 300%;
    font-weight: 700;
    float: left;
    margin-left: 20px;
    line-height: 75px;
    text-shadow: 2px 2px 5px #36454F;
}

#link-wrapper {float: right;
               margin-right: 20px;
               /* display: flex; */
               list-style: none;
               /* line-height: 20px; */
               position: relative;
               /* background-color: #747f51; */
}

.links {display: inline-block;
        line-height: 75px;
        margin-right: 5px;
}
.links > a {text-decoration: none;
            letter-spacing: 1px;
            color:  #efebdd;
}

.links:not(:last-child)::after{content: "";
                               border-right: 1px solid #efebdd;
                               margin-left: 5px;
                               padding: 2px;
}
.active {border-bottom: 1px solid;}

.links > a:hover{color: #f44336;
                 border-bottom: 1px solid;
}

/* Page Banner */
#banner-wrapper {width: 100%;
                 height: 700px;
                 overflow: hidden;
                 /* position: relative; */
                 /* background-color: #975fb7; */
}
#banner-container {background: url("../images/banner-edit.jpg") no-repeat center center;
                   background-size: cover;
                   opacity: 0.7;
                   height: 100%;
                   width: 100%;
}

#banner-container-two {background: url("../images/banner-second-page.jpg") no-repeat center center;
                        background-size: cover;
                        opacity: 0.7;
                        height: 100%;
                        width: 100%;
}

/* #banner-container > img{width: 100%;
                        position: absolute;
                        bottom: -150px;
                        left: 0;
                        opacity: 0.8;
                        } */

/* history section */
.content-wrapper{height: 43.75rem; /* 700px */
                 width: 100%;
                 display: flex;
                 justify-content: center;
                 /* background-color: #303030; */
}

.top-bottom-div {height: 31.25rem; /* 500 px */
                width: 50%;
                background-color: #F4F4F3;
                border-radius: 10px;
                box-shadow: 5px 5px 10px #36454F;
                margin: auto;
}

.top-bottom-div > h2 {
        text-align: center;
        margin-top: 5px;
}

.top-bottom-div:hover{position: relative;
                      bottom: 1px;
                      right: 1px;
                      box-shadow: 5px 5px 10px 2px #36454F}

.content-body {position: relative;
               width: 100%;
               height: 80%;
               /* background-color: turquoise; */
               margin: 20px auto;
               display: flex;
               justify-content: center;
               align-content: center;
               /* vertical-align: middle; */
}

.content-body > img {height: 300px;
                     width: 300px;
                     border-radius: 50%;
                     margin: auto;
                     /* float: left; */
                     /* position: absolute;
                     left: 5px;
                     top: 2rem; */
}

.content-body > p {text-align: right;
                   height: 90%;
                   width: 60%;
                   padding-right: 10px;
                   /* float: right; */
                   /* position: absolute;
                   right: 10px;
                   top: 5%; */
                   font-size: 80%;
                   /* background-color: #efebdd; */
                   line-height: 25px;
                   font-weight: 700;
                   margin: auto;

}

.line-space > p {line-height: 30px;}

/* Architecture section */ 
.mid-div {height: 500px;
        width: 50%;
        background-color: #ffe7ff;
        border-radius: 10px;
        box-shadow: 5px 5px 10px #36454F;
        margin: auto;}

.mid-div:hover {position: relative;
        bottom: 1px;
        right: 1px;
        box-shadow: 5px 5px 10px 2px #36454F}

.mid-div > h2 {
        text-align: center;
        margin-top: 5px;
}

/* Location Section */

#visit-us {width: 100%;
           height: 500px;           
}

#location-wrapper > h2 {text-align: center;
                margin-top: 10px;
                text-shadow: 2px 2px 5px #36454F;
}

#location-container {width: 50%;
                     height: 300px;
                     margin: auto;
                     /* background-color: #f44336; */
                     padding: 35px 0;
}

#location-container > p {display: flex;
                         justify-content: center;
                         vertical-align: middle;
                         width: 30%;
                         line-height: 40px;
                         margin: auto;
                         padding: 10px;
                         font-weight: 600;
                         float: left;
                         color: #f5f5f5;
                         /* background-color: #efebdd; */
}

table {width: 33%;
       float: right;
       border-collapse: collapse;
       /* background-color: #efebdd; */
       line-height: 40px;
       margin-top: 20px;
}

td {padding: 8px;
    border: 1px solid #f5f5f5;
    /* text-align: center; */
    vertical-align: middle;
    color: #f5f5f5;
    /* box-shadow: 2px 2px 2px #f5f5f5; */
}

th {margin-bottom: 5px;
    text-transform: uppercase;
    color: #f5f5f5;
}

/* Map section */

#map-wrapper {height: 300px;
              width: 100%;
}

#map {width: 100%;
      height: 100%;
      border: 2px solid #36454F;
      margin-bottom: 20px;
      opacity: 0.8;
}

/* Footer */

#footer-wrapper {width: 100%;
                 height: 100px;
                 background-color: #f44336;;
                 /* opacity: 0.4; */
}

#footer-div {width: 50%;
             height: 100%;
             margin: auto;
             display: flex;
             justify-content: center;
             /* background-color: #8DCCEA; */
}

#footer-div > ul {list-style: none;
                  width: 50%;
                  height: 100%;
                  margin: auto;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  /* background-color: #f44336;       */
}

#footer-div > ul> li {display: inline-block;
                      padding: 2px;
                      margin: 10px;
                      /* background-color: #efebdd; */
                      /* width: 50px;
                      height: 50px; */
}

i {font-size: 200%;}

/* OTHER PLACES PAGE */

#places-to-visit {margin: 30px 0 0 0;
                  text-align: center;
                  font-size: 120%;
                  /* background-color: #aca7cb; */
}
/* FORM PAGE */

.form-page {position: relative;}
.form-page::after {
        background: url("../images/architecture\ \(jan\ canty\,\ unsplash\).jpg") no-repeat center center;
        background-size: cover;
        content: "";
        opacity: 0.8;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;   
      }
#form-wrapper {width: 100%;
            height: 1200px;
            margin: auto;
            display: flex;
            justify-content: center;
}

#tour-form { width: 50%;
             height: 90%;
             margin: auto;
             padding: 30px 30px 0 30px;
             background-color: rgba(48, 48, 48, 0.8);
             color: #f5f5f5;
             border-radius: 10px;
             font-size: 130%;
             /* display: block;
             text-align: justify; */
}

#tour-form > h2 {text-align: center;
                 margin-bottom: 20px;
}
label {margin-left: 10px;
}
.form-input {display: block;
             width: 80%;
             height: 30px;
             letter-spacing: 2px;
             margin: 5px 0 20px 10px;
             padding-left: 5px;
             background-color: transparent;
             font-size: 80%;
             border: 1px solid #f5f5f5;
             border-radius: 5px;
             color: #aca7cb;   
}

.form-input:hover {background-color: #303030;
                   box-shadow: 1px 1px 1px #f5f5f5;
}

.select-box {margin-top: 10px;
             margin-left: 10px;
             height: 30px;
             padding: 2px;
             display: block;
             background-color: rgba(48, 48, 48, 0.8);
             color: #aca7cb;
             font-size: 80%;
             border-radius: 5px;
}

.select-box:hover {box-shadow: 1px 1px #f5f5f5;}

#dates-field {width: 100%;
              height: 15%;
              border: none;
              /* background-color: #f44336; */
}

legend {margin: 20px 0 0 10px;
}

.dates {background-color: transparent;
        border: 1px solid #f5f5f5;
        border-radius: 5px;
        height: 25px;
        width: 15%;
        letter-spacing: 2px;
        margin: 20px 0 0 10px;
        padding-left: 8px;
        padding-bottom: 2px;
        color: #aca7cb;
        font-size: 80%;
}

.dates:hover {background-color: #303030;
              box-shadow: 1px 1px 1px #f5f5f5;}

#button-box {display: flex;
             height: 50px;
             width: 20%;
             justify-content: left;
             /* background-color: #303030; */
             margin: 20px 0 0 10px;
}
.button {height: 30px;
        width: 65px;
        display: inline-block;
        margin: 5px 20px 0 0;
        font-size: 80%;
        /* padding: 5px; */
        text-align: center;
        background-color: #f5f5f5;
        /* border: 3px solid #aca7cb; */
        border-radius: 5px;
        color: #303030;
}

.button:hover {background-color: #FFFDD0;
}

.request-box {display: block;
              height: 30%;
              width: 60%;
              margin: 10px 0 10px 10px;
              padding: 5px;
              opacity: 0.7;
              font-size: 120%;
              overflow-y: auto;
              resize: none;
              border: 1px solid #f5f5f5;
              border-radius: 5px;
              background-color: rgba(48, 48, 48, 0.8);
              color: #aca7cb;
}

.request-box:hover {box-shadow: 1px 1px 1px #f5f5f5;}

/* DUMMY FORM SUBMISSION PAGE */

#form-dump {width: 100%;
            height: 1200px;
            display: flex;
            justify-content: center;
}

#submission-container {height: 600px;
                       width: 50%;
                       background-color: rgba(48, 48, 48, 0.5);
                       margin: auto;
                       text-align: center;
                       padding: 20px;
                       border-radius: 30px;
}

#submission-container > h2 {margin-top: 50px;
                            font-size: 250%;
                            font-weight: 700;
}

h3 {margin-top: 30px;
    font-size: 150%;
    font-weight: 700;
    color: #f5f5f5;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

#submission-container > p {margin-top: 50px;
                           font-size: 120%;
                           color: #aca7cb;
}

#submission-container > a > button {margin-top: 50px;
                                    height: 30px;
                                    width: 70px;
                                    font-size: 90%;
                                    background-color: #f5f5f5;
                                    border: 3px solid #aca7cb;
                                    border-radius: 5px;
                                    color: #303030;
}

#submission-container > a > button:hover {background-color: #aca7cb;
}
/* MEDIA QUERIES */

@media screen and (max-width: 1445px){
        .top-bottom-div {width: 70%;}

        .mid-div {width: 70%;}
}

@media screen and (max-width: 1280px) {
#banner-wrapper {height: 400px;
                 overflow: hidden;
                 position: relative;
                /* background-color: #975fb7; */
}
#banner-container {background-position: center center;
                   /* background-size: cover;*/} 

#banner-container-two {background-position: center center;}
.content-wrapper{height: 1000px;
                width: 100%;
                display: flex;
                justify-content: center;
                /* background-color: #303030; */
       }
.top-bottom-div {height: 700px;
                width: 90%;
                margin: auto;
        }
.content-body { display: block;
                /* position: relative; */
                width: 100%;
                height: 90%;
                /* background-color: turquoise; */
                margin: 25px auto;
                text-align: center;
        }
                
.content-body > img {height: 200px;
                width: 200px;
                border-radius: 50%;
                /* display: block; */
                margin: 10px auto;
                /* float: none;
                position: initial; */
                }

.content-body > p {text-align: center;
                   height: 60%;
                   width: 80%;
                   /* display: block; */
                   /* position: initial;
                   float: none; */
                   margin: 10px auto;
                   font-size: 90%;
                   /* background-color: #efebdd; */
                   line-height: 30px;
                   font-weight: 700;
        
     
     }

.mid-div {height: 700px;
          width: 90%;
          margin: auto;
}

#location-container {width: 90%;
                     height: 350px;
                     margin: auto;
                     /* background-color: #f44336; */
                     padding: 35px 0;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     /* vertical-align: middle; */
}

#location-container > p {/*display: flex;
        justify-content: center;
        vertical-align: middle; */
        text-align: left;
        width: 40%;
        line-height: 40px;
        margin: auto;
        padding: 10px;
        font-weight: 700;
        float: none;
        /* background-color: #36454F; */
}

table {width: 45%;
       float: none;
       padding: 5px;
       /* background-color: #e6bb21; */
       margin: 20px auto;
 }

#tour-form {width: 90%;}
}

#submission-container {width: 80%;}


@media screen and (max-width: 800px) {

header {display: block;
        text-align: center;
        height: 130px;
}
h1 {float: none;
    margin: auto;
    line-height: 50px;
    padding-top: 10px;
    /* background-color: aqua; */
    }

#link-wrapper { float: none;
                margin: auto;
                display: flex;
                justify-content: center;
                /* line-height: 50px; */
                position: relative;
                /* background-color: #f44336; */
}

#banner-wrapper {height: 300px;
                margin-top: 20px;
                /* background-color: #975fb7; */
}
#banner-container {background-position: center center;
                   background-size: cover;        
                }        
.content-wrapper{height: 1000px;
        width: 100%;
        display: flex;
        justify-content: center;
        /* background-color: #303030; */
}

.top-bottom-div {height: 600px;
        width: 100%;
        margin: auto;
}

.content-body > p {text-align: center;
        height: 60%;
        width: 100%;
        margin: 10px auto;
        font-size: 90%;
        /* background-color: #efebdd; */
        line-height: initial;
        font-weight: 500;
        padding: 10px 10px;
}

.line-space > p {line-height: inherit;}

.mid-div {height: 600px;
        width: 100%;
        margin: auto;
}

#location-container {width: 100%;
        /* background-color: #f44336; */
}

#location-container > p {
        text-align: left;
        width: 40%;
        line-height: 25px;
        margin: auto;
        padding: 10px;
        font-weight: 500;
        float: none;
        /* background-color: #36454F; */
}
table {width: 50%;
        float: none;
        padding: 5px;
        /* background-color: #e6bb21; */
        margin: 20px auto;
        text-align: center;
        font-size: 90%;
  }

  td {padding: initial;
    }
th {line-height: 30px;
    margin: auto;}
}

#button-box {width: 50%;
        /* background-color: #303030;*/} 
.button {width: 70px;}

@media screen and (max-width: 580px) {
        .top-bottom-div {height: 650px;}
        .mid-div {height: 650px;}
        }

@media screen and (max-width: 450px) {

        /* .links:not(:last-child)::after{margin-left: initial;
}        */
        #link-wrapper {/*background-color: #747f51;*/
                        display: flex;
                        justify-content: center;
                        margin-top: 20px;
        }
        .links {/*background-color: #36454F; */
        width: 33%;
        line-height: 40px;
        margin: auto;
}
        .links > a {letter-spacing: initial;
                        font-size: 90%;
        }
        .links:not(:last-child)::after{content: "";
                border-right: none;
                margin-left: initial;
                padding: initial;
}
        #banner-wrapper {height: 200px;
                margin-top: 10px;
                /* background-color: #975fb7; */
}
        #banner-container {background-position: center center;
                background-size: 150%;        
             }    
        
        .content-wrapper{height: 800px;
                /* background-color: #303030; */
        }
        .top-bottom-div {height: 700px;
                        width: 100%;
                        margin: auto;
        }

        .mid-div {height: 700px;}
        
        .content-body > p {font-size: 80%;}        

        #map-wrapper {height: 200px;}

        #tour-form {width: 100%;
                padding: 10px 0 0 0;
        }
        .form-input {width: 90%}
        #dates-field {display: block;}
        fieldset > input:first-of-type {width: 20%}
        fieldset > input:nth-of-type(2) {width: 35%;}
        fieldset > input:nth-of-type(3) {width: 20%;
                                        margin-left: 5px;
        }

        .request-box {width: 90%}

        #button-box {width: 90%;
                justify-content: left;
                /* background-color: #303030; */
                margin: 30px 0 0 10px;
        }

        .button {margin: 5px 40px 0 0;
                border-radius: 2px;
        /* background-color: #aca7cb;
        color: #303030; */
        }

        #submission-container {width: 100%;}
}